################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BulkRenameGUI/bin/Debug
/BulkRenameGUI/obj/Debug
/BulkRenameGUI/obj/Debug
/.vs/BulkRenameGUI/v15/.suo
/BulkRenameGUI.v11.suo
